In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [64]:
df = pd.read_csv('SalesSmall.csv')
df.head()

,Region,Country,Item Type,Sales Channel,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Morocco,Clothes,Online,503890.08,165258.24,338631.84
1,Australia and Oceania,Papua New Guinea,Meat,Offline,151880.40,131288.40,20592.00
2,Sub-Saharan Africa,Djibouti,Clothes,Offline,61415.36,20142.08,41273.28
3,Europe,Slovakia,Beverages,Offline,188518.85,126301.67,62217.18
4,Asia,Sri Lanka,Fruits,Online,12866.07,9542.68,3323.39

In [65]:
t = df.shape
print(f'{t[0]:,.2f}')

1,100,000.00

In [66]:
t = df.columns

for i in ['Unit Cost', 'Region', 'Country', 'Total Revenue']:
    if i not in t:
        print(i)
        break

Unit Cost

In [67]:
t = df['Region'].unique()

for i in ['Sub-Saharan Africa', 'North America', 'South America', 'Europe']:
    if i not in t:
        print(i)
        break

South America

In [68]:
t = df[(df['Item Type'] == 'Beverages') | (df['Item Type'] == 'Snacks')]['Total Cost'].median()

print(f'{t:,.2f}')

240,300.61

In [69]:
t = df[df['Country'] == 'Singapore']['Total Cost'].std()
print(f'{t:,.2f}')

1,159,422.36

In [70]:
t = df[(df['Country'] == 'France') & (df['Item Type'] == 'Clothes')].shape
print(f'{t[0]:,.2f}')

500.00

In [71]:
t = df[['Region', 'Total Cost']].groupby('Region').mean().sort_values(by='Total Cost', ascending=False)
display(t)
print(f'{t.loc[t.idxmax()[0]]}')

                                      Total Cost
Region
North America                      943555.882027
Australia and Oceania              939685.700760
Central America and the Caribbean  937973.445482
Middle East and North Africa       937933.303911
Sub-Saharan Africa                 936975.429214
Asia                               936958.669410
Europe                             936020.569622

Total Cost    943555.882027
Name: North America, dtype: float64